body {
background-color: #00b3ff;
color: #ff0000;
width: 500px;
margin-right: auto;
margin-left: auto;
}

button {
 padding: 5px 20px ;
 background-color: #ff0000;
 color: #eeff00;
 border-style: none;
}
input {
  height: 25px;
}